<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="MethodFieldName" value="Method" />
      <setting name="TypeFieldName" value="Type" />
    </settings>
    <commands>
      <command name="jonathanrobbins:executetask" type="JonathanRobbins.ExecuteSitecoreTask.Commands.ExecuteScheduledTask,JonathanRobbins.ExecuteSitecoreTask"/>
      <command name="jonathanrobbins:executeremotetask" type="JonathanRobbins.ExecuteSitecoreTask.Commands.ExecuteRemoteScheduledTaskcs,JonathanRobbins.ExecuteSitecoreTask"/>
    </commands>
  </sitecore>
</configuration>